.project-title-container
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    h1{
        font-size: map-get($font-sizes, title);
        margin: 2vw 0 2vw 0;
        @extend .text-decoration;
        @include Medium{
            font-size: 4vw;
        }
    }
}

.project-description
{
    @include flex-column;
    align-items: center;
    h2{
        font-size: map-get($font-sizes, subtitle);
        margin: 0 0 2vw 0;
        @extend .text-decoration;
        @include Medium {
            font-size: map-get($font-sizes, title);
            margin: 3vw 0 2vw;
        }
    }
    p{
        font-size: map-get($font-sizes, text);
        @include Medium{
            font-size: map-get($font-sizes, subtitle);
        }
        @include Small{
            font-size: 3vw;
        }
    }
}

.last-project
{
    margin: 0 0 3vw 0;
}

.img-container
{
    display: flex;
    justify-content: center;
}

.project-img
{
    @include Small{
        width: 60%;
    }
}