footer
{
    -webkit-box-shadow: 1px -1px 15px 5px #000000; 
    box-shadow: 1px -1px 15px 5px #000000;
    h3{
        margin: 15px 0 20px 0;
        font-size: 1.5vw;
        @extend .text-decoration;
        @include Medium{
            font-size: 2vw;
            white-space: nowrap;
        }
    }
}

.footer-right
{
    @include flex-column;
    align-items: center;
    h3{
        margin: 15px 0 40px 0;
    }
    a{
        width: auto;
        height: 30px;
        button{
            width: 100%;
            height: 100%;
        }
    }
    @include Small{
        display: none;
    }
}

.footer-left
{
    @include Small{
        @include flex-column;
        align-items: center;
        margin: 0 0 2% 0;
    }
}

.footer-left-bot
{
    @include Small{
        @include flex-column;
        align-items: center;
    }
}

.footer-icons-container 
{
    img{
        margin: 0 2vw 0 0;
    }
}
