.banner-main-container
{
    width: 100%;
    height: auto;
    -webkit-box-shadow: 5px 5px 10px 1px #000000; 
    box-shadow: 5px 5px 10px 1px #000000;
    @include flex-column;
}

.banner-img-container
{
    width: 100%;
    img{
        width: 100%;
    }
}

.banner-text-container
{
    width: 100%;
    height: auto;
    p{
        margin: -25% 0 0 5%;
        font-size: map-get($font-sizes, title);
        font-weight: bold;
        font-style: italic;
        color: black;
        @extend .text-decoration
    }
}

.main-section
{
    margin: 6vw 0 0 0;
    align-items: center;
    @include flex-column;
}

.main-title
{
    @extend .text-decoration;
    font-size: map-get($font-sizes, title);
    margin: 0 0 4vw 0;
    @include Medium{
        font-size: 5vw;
    }
}

.info-title
{
    font-size: map-get($font-sizes, subtitle);
    white-space: nowrap;
    margin: 0 0 2vw 0;
    @extend .text-decoration;
    @include Medium{
        font-size: 4vw;
    }
}

.info-text
{
    font-size: map-get($font-sizes, text);
    @include Medium{
        font-size: 3vw;
    }
}

.info-container
{
    align-items: center;
    margin: 0 0 7vw 0;
    @include flex-column;
}
