.legals-container
{
    width: 100%;
    height: 25vw;
}

.legals-description
{
    font-size: 1.5vw;
}

.map-container
{
    width: 100%;
    height: 100%;
}

.map
{
    border-radius: 5px;
    width: 100% !important;
    height: 100% !important;
}

.responsive-map
{
    @include Medium{
        margin: 0 0 7% 0;
    }
}

.pdf-container
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 2% 0 10% 0;
    @include Medium{
        margin: 17% 0 10% 0;
    }
    @include Small{
        margin: 45% 0 10% 0;
    }
    a{
        width: 7%;
        height: 8%;
        border-radius: 5px;
    }
}
