.video
{
    width: 100% !important;
    height: 100% !important;
    @include Medium{
        height: 300px !important;
    }
}

.form-section
{
    width: 100%;
    height: auto;
    @include flex-column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 20px 0;
    h3{
        font-size: map-get($font-sizes, subtitle);
        @extend .text-decoration;
        @include Medium{
            font-size: 3vw;
        }
    }
    p{
        font-size: map-get($font-sizes, text);
        margin: 0 0 20px 0;
        @include Medium{
            font-size: 2vw;
        }
    }
    form{
        width: 25%;
        flex-wrap: wrap;
        @include flex-column;
        justify-content: space-around;
        -webkit-box-shadow: 5px 5px 10px 1px #000000; 
        box-shadow: 5px 5px 10px 1px #000000;
        padding: 5px;
        border-radius: 5px;
        margin: 0 0 40px 0;
        @include Medium{
            width: 65%;
        }
    }
}