:root
{
    font-size: 10px;
}

body
{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f5fa;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.disclaimer
{
	display: none;
}