@import 'variables';

.project-title-container
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    h1{
        font-size: map-get($font-sizes, title);
        margin: 2vw 0 2vw 0;
        @extend .text-decoration;
    }
}

.project-description
{
    @include flex-column;
    align-items: center;
    h2{
        font-size: map-get($font-sizes, subtitle);
        margin: 0 0 2vw 0;
        @extend .text-decoration;
    }
    p{
        font-size: map-get($font-sizes, text);
    }
}

.last-project
{
    margin: 0 0 3vw 0;
}

@media (max-width: 768px) {

    .project-title-container 
    {
        h1{
            font-size: 4vw;
        }
    }

    .project-description 
    {
        h2{
            font-size: map-get($font-sizes, title);
            margin: 3vw 0 2vw;
        }
    }

    .project-description 
    {
        p{
            font-size: map-get($font-sizes, subtitle);
        }
    }
}

.img-container
{
    display: flex;
    justify-content: center;
}

@media (max-width: 576px)
{
    .project-img
    {
        width: 60%;
    }

    .project-description
    {
        p{
            font-size: 3vw;
        }
    }
}