.banner-main-container
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 5px 5px 10px 1px #000000; 
    box-shadow: 5px 5px 10px 1px #000000;
}

.banner-img-container
{
    width: 100%;
    img{
        width: 100%;
    }
}

.banner-text-container
{
    width: 100%;
    height: auto;
    p{
        margin: -25% 0 0 5%;
        font-size: 3vw;
        font-weight: bold;
        font-style: italic;
        color: black;
        text-decoration: underline;
        text-decoration-color: orangered;
    }
}

.main-section
{
    margin: 6vw 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title
{
    text-decoration: underline;
    text-decoration-color: orangered;
    font-size: 3vw;
    margin: 0 0 4vw 0;
}

.info-title
{
    font-size: 2vw;
    white-space: nowrap;
    text-decoration: underline;
    text-decoration-color: orangered;
    margin: 0 0 2vw 0;
}

.info-text
{
    font-size: 1vw;
}

.info-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 7vw 0;
}

@media (max-width: 768px) {
    .main-title
    {
        font-size: 5vw;
    }
    .info-title
    {
        font-size: 4vw;
    }
    .info-text
    {
        font-size: 3vw;
    }
}
