@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

/* Header */

:root
{
    font-size: 10px;
}

body
{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f5fa;
}

.header
{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-shadow: 0 0 5px 0;
    z-index: 2;
}

.header-shadow
{
    width: 100%;
    height: 100px;
}
.header-left
{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left a
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon-text
{
    font-size: 1.7rem;
    font-weight: 700;
    color: black;
}

.header-navbar
{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.header-navbar ul 
{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 2rem;
}

.header-navbar ul a
{
    color: rgb(126, 127, 128);
}

a
{
    text-decoration: none;
} 

.mobile-header-shadow
{
    display: none;
}

@media (max-width:430px)
{

    .header
    {
        flex-direction: column;
        height: auto;
        background-color: #cccccc;
        position: static;
        width: 100%;
        z-index: auto;
    }

    .header-left
    {
        display: flex;
        justify-content: center;
        width: auto;
    }

    .header-left a
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
    }

    .header-left a img
    {
        width: 50px;
        margin: 5px 0 0 0;
    }

    .icon-text
    {
        font-size: 3rem;
        font-weight: 700;
        color: black;
    }

    .header-navbar
    {
        width: auto;
        display: flex;
        justify-content: center;
    }
    
    .header-navbar ul
    {
        display: flex;
        justify-content: space-between;
        list-style: none;
        font-size: 1.3rem;
        padding: 0 0 10px 0;
    }

    .header-navbar a
    {
        text-decoration: underline;
        text-decoration-color: #fd6500;
        color: black;
        padding: 0 5px 0 0;
    }

    .mobile-header-shadow
    {
        display: inline-block;
        width: 100%;
        height: 90px;
    }

}
/* Index */

.banner
{
    width: 100%;
    height: 915px;
    display: flex;
    align-items: center;
}
.banner img
{
    width: 100%;
    height: auto;
    z-index: -1;
    position: absolute;
}
.banner h1
{
    margin: 0;
    padding: 0 0 0 25px;
    font-style: italic;
    font-size: 4rem;
    color: rgb(0, 0, 0);
    backdrop-filter: blur(2px);
    text-decoration: underline;
    text-decoration-color: #fd6500;
}

.main-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.main-info h2
{
    width: auto;
    height: 20px;
    place-self: center;
    font-style: italic;
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: #fd6500;
}

.info-container
{
    display: flex;
    justify-content: space-between;
    margin: 0 60px 0 0;
}

.info-container article
{
    width: 200px;
    height: 400px;
    margin: 50px 120px 0 120px;
}

.info-container article span
{
    font-weight: bold;
    font-size: 2.5rem;
    white-space: nowrap;
}
.info-container article p
{
    font-size: 2rem;
    width: 300px;
} 

@media (max-width: 430px)
{
    .banner
    {
        width: 100%;
        height: auto;
    }

    .banner h1
    {
        font-size: 1.7rem;
    }

    .main-info
    {
        margin: 95px 0 0 0;
    }

    .main-info h2
    {
        font-size: 2.2rem;
    }

    .info-container
    {
        flex-direction: column;
    }

    .info-container article
    {
        margin: 50px 120px -30px 120px;
    }
}

/* Emprendimientos */

.project-title-container
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.project-title-container h1, .project-title-container h2, .project-title-container h3
{
    font-weight: bold;
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: #fd6500;
}
.project-body
{
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 0 60px 0;
}

.project-body img
{
    padding: 30px 0 0 60px;
}

.projects-disclaimer
{
    display: flex;
    justify-content: center;
    margin: 80px 0 90px 0;
}

.projects-disclaimer span
{
    font-weight: bold;
    font-size: 2rem;
}

.project-body-text
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-body-text span
{
    font-weight: bold;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: #fd6500;
    padding: 15px 0 0 0;
}

.project-body-text p
{
    font-size: 1.5rem;
    padding: 40px 0 0 40px;
}

@media (max-width: 430px)
{
    .header-shadow
    {
        display: none;
    }

    .project-general-container
    {
        margin: 0 0 555px 0;
    }

    .project-body
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .project-body img
    {
        padding: 0;
        width: 100%;
    }

    .project-body-text 
    {
        margin: 35px 0 0 0;
    }

    .project-body-text p 
    {
        font-size: 1.5rem;
        padding: 10px 15px 0 20px;
    }

    .projects-disclaimer span
    {
        margin: 60px 0 0 10px;
    }
}

/* Nosotros */

.us-title
{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: #fd6500;
}

.us-content
{
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.us-content iframe
{
    margin: 0 0 0 40px;
}

.us-text
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.us-text h2
{
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: #fd6500;
}

.us-text p
{
    font-size: 1.5rem;
}

.form-section
{
    margin: 100px 0 0 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section h3
{
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: #fd6500;
}

.form-section p
{
    font-size: 2rem;
}

form
{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    border: solid 5px #fd6500;
    background-color: rgb(187, 187, 187);
    margin: 20px 0 100px 0;
}

form label
{
    margin: 0 0 0 20px;
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-color: #fd6500;
    width: auto;
}

.input-container
{
    width: 80%;
    height: 25px;
    margin: 0 0 0 30px;
}

input
{
    width: 100%;
    height: 100%;
    border: solid 1px #fd6500;
    border-radius: 5px;
    
}

input:enabled
{
    border: solid 1px #fd6500;
}

#submit-button
{
    width: 50%;
    height: 30px;
    margin: 0 0 0 25%;
}

#submit-button:hover
{
    background-color: #fd6500;
}

@media (max-width: 430px) 
{
    .us-content
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .us-content iframe
    {
        width: 95%;
        margin: 0 0 0 12px
    }

    .us-text p
    {
        margin: 0 0 0 15px;
    }

    .form-section 
    {
        padding: 120px 0 0 0;
    }

    .form-section p
    {
        margin: 0 0 0 12px;
        text-align: center;
    }
}

/* Brokers */

.brokers-title h1
{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: #fd6500
}

.brokers-main-container
{
    display: flex;
    justify-content: space-around;
    margin: 0 0 130px 0;
}

.brokers-main-container img
{
    margin: 0 0 0 30px;
}

.brokers-main-container p
{
    font-size: 2rem;
    margin: 0 0 0 30px;
}

@media (max-width: 430px) 
{
    .brokers-main-container
    {
        flex-direction: column;
    }

    .brokers-main-container img
    {
        margin: 0;
    }

    .brokers-main-container p
    {
        margin: 20px 0 0 15px;
    }
}

/* Legales */

.legals-title h1
{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: #fd6500
}

.legals-container
{
    display: flex;
}

.legals-map
{
    margin: 0 50px 20px 5%;
    border-radius: 20px;
}

.legals-text
{
    width: 40%;
    height: auto;
    font-size: 2rem;
}

.pdf-container
{
    width: 200px;
    height: 50px;
    background-color: #fd6500;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 15px;
    margin: 30px 0 30px 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
}

.pdf-container a
{
    color: black;
}

@media (max-width: 430px)
{
    .legals-main
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .legals-container
    {
        flex-direction: column-reverse;
    }

    .legals-map
    {
        margin: 0 50px 20px 3%;
        width: 95%;
    }

    .legals-text
    {
        width: 95%;
        margin: 0 0 25px 12px;
    }

    .pdf-container
    {
        margin: 20px 0 60px 0;
    }
}

/* Footer */

footer
{
    background-color: rgb(126, 127, 128);
    width: 100%;
    height: 300px;
    box-shadow: 2px 0 2px 0;
    display: flex;
    justify-content: space-around;
}

.footer-left
{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footer-right
{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footer-social-media
{
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 0;
}

.footer-social-media span
{
    font-weight: normal;
    font-size: 3rem;
}

.footer-social-media img
{
    padding: 20px 40px 0 0;
}

.footer-trademark
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 70px 0 0 0;
    font-size: 1.25em;
}

.footer-right span
{
    font-weight: normal;
    font-size: 2.3rem;
    padding: 35px 0 0 0;
    white-space: nowrap;
}

.footer-right input 
{
    width: 125px;
    height: 50px;
    color: white;
    background-color: #fd6500;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    font-size: 1.5rem;
    margin: 60px 0 0 180px;
}

.footer-right input:hover
{
    color: #fd6500;
    background-color: white;
    border-color: #fd6500;
    cursor:pointer;
}

.footer-right a
{
    cursor: default;
}

.media-icon:hover
{
    animation-name: icon-animation;
    animation-duration: 0.5s;
}

@keyframes icon-animation
{
    50%
    {
        transform: translateY(-20px);
    }
} 

@media (max-width: 430px)
{
    .footer-right
    {
        display: none;
    }

    .footer-left
    {
        width: 100%;
        align-items: center;
    }

    .footer-trademark
    {
        padding: 55px 0 0 10px;
    }

    .footer-social-media
    {
        align-items: center;
    }
}